/**
 * WooCommerce AJAX Layered Nav
 */

/**
 * Imports
 */
@import 'bourbon';
@import '../../../../assets/sass/utils/variables';
@import '../../../../assets/sass/utils/mixins';
@import '../../../../assets/sass/vendors/modular-scale';

.widget_layered_nav {
	ul.colors {
		li {
			a {
				display: block;
			}

			.box {
				border: 0;
				display: inline-block;
				box-sizing: border-box;
				border-radius: .202em;
				height: ms(3);
				width: ms(3);
			}

			&.chosen {
				a {
					opacity: 1;

					&:hover {
						opacity: 0.5;
					}
				}
			}
		}
	}

	ul.checkboxes {
		li {
			input {
				margin-right: ms(-2);
			}
		}
	}

	ul.sizes {
		li {
			a {
				opacity: 1;
			}

			.size-filter {
				font-size: 1em;
				height: ms(3);
				min-width: ms(3);
				text-align: center;
				line-height: 1.618;
				background-color: #fff;
				border: 0;
				opacity: 0.5;
				font-weight: 600;
				border-radius: .202em;

				&:hover {
					opacity: 1;
				}
			}

			&.chosen {
				.size-filter {
					opacity: 1;

					&:hover {
						opacity: 0.5;
					}
				}
			}
		}
	}

	ul.colors,
	ul.checkboxes,
	ul.sizes {
		li {
			&.chosen {
				&:before {
					display: none;
				}
			}

			&.show-count {
				a {
					display: inline-block;
				}

				.count {
					float: right;
					line-height: 1.618;
					font-size: 1em;
				}
			}
		}
	}
}