/**
 * WooCommerce Bookings
 */

/**
 * Imports
 */
@import 'bourbon';
@import '../../../../assets/sass/utils/variables';
@import '../../../../assets/sass/utils/mixins';
@import '../../../../node_modules/susy/sass/susy';
@import '../../../../assets/sass/vendors/modular-scale';

#wc-bookings-booking-form {
	border: 0;
	padding: 0;

	.wc-bookings-booking-cost {
		margin: 0;
		border: 0;
	}

	.wc-bookings-date-picker-date-fields {
		input {
			margin-bottom: 0;
		}

		label {
			width: 20%;
		}
	}

	.ui-widget {
		font-family: inherit;
	}

	.wc-bookings-date-picker {
		.ui-datepicker-header {
			border: 0;
			background-image: none;
		}

		.ui-widget-content {
			box-shadow: none;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			background: none;
		}

		.ui-datepicker {
			table {
				font-size: 1em;
			}


			th {
				border: 0;
			}

			td {
				border: 0;

				&.bookable {
					a {
						text-shadow: none;
					}
				}

				&.ui-datepicker-today {
					a,
					span {
						box-shadow: inset 0 0 0 3px rgba(#000,.2);
					}
				}

				&.fully_booked {
					a,
					span {
						text-decoration: line-through;
						cursor: not-allowed;
					}
				}
			}
		}
	}

	.block-picker {
		text-align: left;

		li {
			a {
				border: 0 !important;
				padding: .236em ms(-3);
				display: inline-block;
				text-align: center;

				&:hover {
					text-decoration: none;
					border: 0;
				}
			}
		}
	}
}

.product-type-booking {
	form.cart {
		padding-left: 0;
		padding-right: 0;
	}
}

@include susy-media($desktop) {
	table.my_account_bookings {
		font-size: ms(-1);
	}
}