/**
 * WooCommerce Product Reviews Pro
 */

/**
 * Imports
 */
@import 'bourbon';
@import '../../../../assets/sass/utils/variables';
@import '../../../../assets/sass/utils/mixins';
@import '../../../../node_modules/susy/sass/susy';
@import '../../../../assets/sass/vendors/modular-scale';

.woocommerce-page {
	.woocommerce-checkout-review-order-table {
		th.product-name {
			width: 70%;
		}
	}

	#shipping_addresses {
		padding-top: ms(3);
	}

	.ship_address,
	.no_shipping_address {
		float: none;
		width: auto;
		margin: 0 0 ms(3);
		background-color: rgba(#000,.025);
		border: 0;
		padding: 1em;
		line-height: inherit;
		border-radius: 0;
		font-size: ms(-1);

		dl {
			margin-top: 0;

			dd {
				margin-bottom: 1em;
			}
		}

		address {
			margin: 0;
		}

		.note-form {
			margin-bottom: ms(3);
			padding-top: 1em;
		}

		.modify-address-button {
			display: block;
			margin-top: 1em;
		}
	}

	.addresses {
		clear: both;
		@include clearfix;

		.address-block {
			margin: 0 0 ms(3);
			@include span(4.5 of 9);

			&:nth-child(3),
			&:nth-child(5),
			&:nth-child(7) {
				margin-right: 0 !important;
			}

			.buttons {
				text-align: inherit;
				position: static;

				.button {
					width: auto;
				}
			}
		}
	}

	&.page-template-template-fullwidth-php {
		.ship_address,
		.no_shipping_address {
			font-size: 1em;
		}

		.address-block {
			@include span(6 of 12);
		}
	}
}