/**
 * WooCommerce Wishlists
 *
 * 1 - Added class to remove the dot in front of the word "Wishlist".
 * While i'm at it, add a FA eye icon in front to visually help the user.
 * 2 - Added margin-top: 0 to center-align the > in the list Items
 * 3  - Upped the fontsize from 12px to 14 for better visibility.
 * 4  - Added the class to increase the font size for the same reason as 3.
 */

/**
 * Imports
 */
@import 'bourbon';
@import '../../../../assets/sass/utils/variables';
@import '../../../../assets/sass/utils/mixins';
@import '../../../../node_modules/susy/sass/susy';
@import '../../../../assets/sass/vendors/modular-scale';

#wl-wrapper.wl-button-wrap {
	padding: ms(3) 0 0 0;
}

.wl-add-link {
	padding-left: 0 !important;
	background: none !important;
}

#wl-wrapper {
	.wl-already-in > ul { /* 1 */
		margin-left: 0;
		list-style-type: none;

			a:before {
				margin-right: ms(-3);
				font-family: "FontAwesome";
				content: "\f06e";
			}
	}
	.wl-tabs {
		border-bottom: 0 !important;

		> li {
			float: none !important;

			&:after { /* 2 */
				margin-top: 0 !important;
			}

			> a {
				padding: 1em ms(2);
				border: 0 !important;
				margin: 0 !important;
				@include border-top-radius(0);
				background-color: transparent !important;
			}

			&.active {
				a {
					box-shadow: inset 0 -3px 0 rgba(0,0,0,0.1);
				}
			}
		}
	}

	.wl-table {
		td {
			padding: ms(-1) ms(2) !important;

			&:first-child {
				padding-left: ms(2) !important;
			}
		}

		&.manage {
			td {
				padding: ms(-3) !important;
			}
		}
	}

	// .wl-meta-share,
	.wl-share-url > strong {
		font-size: 15px; /* 3 */
		font-weight: 400;
		border-bottom-color: $color_border;
	}
	.wl-small { /* 4 */
		font-size:14px ;
	}
}

.wl-tab-wrap {
	ul.tabs,
	.panel {
		width: 100%;
		margin: 0;
	}

	ul.tabs {
		li {
			&:after {
				display: none !important;
			}
		}
	}
}

@include susy-media($desktop) {
	#wl-wrapper {
		.wl-tabs {
			> li {
				a {
					padding-left: 0;
				}

				&.active {
					a {
						box-shadow: none;
					}
				}
			}
		}
	}
}
