/**
 * WooCommerce Wishlists
 */

/**
 * Imports
 */
@import 'bourbon';
@import '../../../../assets/sass/utils/variables';
@import '../../../../assets/sass/utils/mixins';
@import '../../../../node_modules/susy/sass/susy';
@import '../../../../assets/sass/vendors/modular-scale';

#wl-wrapper.wl-button-wrap {
	padding: ms(3) 0 0 0;
}

.wl-add-link {
	padding-left: 0 !important;
	background: none !important;
}

#wl-wrapper {
	.wl-tabs {
		border-bottom: 0 !important;

		> li {
			float: none !important;

			> a {
				padding: 1em ms(2);
				border: 0 !important;
				margin: 0 !important;
				@include border-top-radius(0);
				background-color: transparent !important;
			}

			&.active {
				a {
					box-shadow: inset 0 -3px 0 rgba(0,0,0,0.1);
				}
			}
		}
	}

	.wl-table {
		td {
			padding: ms(-1) ms(2) !important;

			&:first-child {
				padding-left: ms(2) !important;
			}
		}

		&.manage {
			td {
				padding: ms(-3) !important;
			}
		}
	}

	.wl-meta-share,
	.wl-share-url {
		border-bottom-color: $color_border;
	}
}

.wl-tab-wrap {
	ul.tabs,
	.panel {
		width: 100%;
		margin: 0;
	}

	ul.tabs {
		li {
			&:after {
				display: none !important;
			}
		}
	}
}

@include susy-media($desktop) {
	#wl-wrapper {
		.wl-tabs {
			> li {
				a {
					padding-left: 0;
				}

				&.active {
					a {
						box-shadow: none;
					}
				}
			}
		}
	}
}