/**
 * WooCommerce Deposits
 */

/**
 * Imports
 */
@import 'bourbon';
@import '../../../assets/sass/utils/variables';
@import '../../../assets/sass/utils/mixins';

/**
 * Style
 */
.wc-deposits-wrapper {
	.wc-deposits-option {
		li {
			padding: .618em 1em;
			border: none;
			background: rgba(#000,.0125);
			box-shadow: none;
			border-radius: 0;

			&:hover {
				background: rgba(#000,.02);
			}

			input {
				margin-right: .618em;
			}
		}
	}

	.wc-deposits-payment-description {
		color: inherit;
	}

	.wc-deposits-payment-plans {
		background: transparent;
		padding: 0;
		background: none;
		border: 0;
		box-shadow: none;

		li.wc-deposits-payment-plan {
			border: 1em solid rgba(#000,.0125);
			padding: 1.618em;
			margin-bottom: 1em;

			input {
				margin-right: 0;
			}

			&:hover {
				background: rgba(#000,.0125);
			}

			&:last-child {
				border-bottom: 1em solid rgba(#000,.0125);
			}

			.wc-deposits-payment-plan-description {
				color: inherit;
				display: block;
				font-weight: 400;
				opacity: 0.5;
			}

			label {
				max-width: none;
			}
		}
	}

	&.wc-deposits-optional {
		.wc-deposits-payment-plans {
			margin-bottom: 1.618em;

			&:after {
				display: none;
			}

			&:before {
				border-bottom-color: rgba(#000,.025);
				top: -1px;
			}
		}
	}
}

