# Compiled CSS
/assets/css/woocommerce/*.css
/assets/css/admin/welcome-screen/*.css
/assets/css/jetpack/*.css
style.css
style-rtl.css

# Minified js
/js/*.min.js
/inc/customizer/js/*.min.js

# Sass
.sass-cache

# Grunt
/node_modules/
/storefront/
npm-debug.log

# Codekit
config.codekit

# Transifex
.transifexrc
/languages/*.po
/languages/*.mo