{
    "extends": [
        "stylelint-config-wordpress/scss"
    ],
    "rules": {
        "font-family-no-missing-generic-family-keyword": null,
        "no-descending-specificity": null,
        "no-duplicate-selectors": null,
        "selector-class-pattern": null,
        "value-keyword-case": null,
        "scss/selector-no-redundant-nesting-selector": null,
        "selector-id-pattern": null
    }
}
