<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/php/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	verbose="true"
>
	<testsuites>
		<testsuite name="Storefront Tests">
			<directory suffix="Test.php">./tests/php</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">./inc</directory>
		</whitelist>
	</filter>
</phpunit>
