/**
 * Right to left language stylesheet
 * Until there is a nice way to automate this we simply take the css that our
 * grunt tasks output and run them through an online rtl generation tool.
 *
 * We then test using the RTL Tester plugin
 *
 * http://www.codebeautifier.com/
 * http://www.rtl-er.com/
 * https://wordpress.org/plugins/rtl-tester/
 */

/**
 * Main stylesheet
 */
body {
  direction:rtl;
  unicode-bidi:embed;
}

.alignright {
  float:right;
  margin-left:1.618em;
  margin-right:auto;
}

.alignleft {
  float:left;
  margin-right:1.618em;
  margin-left:auto;
}

.screen-reader-text:hover,.screen-reader-text:active,.screen-reader-text:focus {
  right:0;
  left:auto;
}

table tbody tr:nth-child(2n) td:last-child {
  border-left:0;
  border-right:none;
}

ul,ol {
  margin:0 3em 1.618em 0;
}

li > ul,li > ol {
  margin-right:1.618em;
  margin-left:auto;
}

blockquote {
  border-right:3px solid rgba(0,0,0,0.05);
  border-left:none;
}

textarea {
  padding-right:.857em;
  padding-left:0;
}

.main-navigation ul {
  margin-right:0;
  margin-left:auto;
}

.main-navigation ul ul {
  margin-right:1.387em;
  margin-left:auto;
}

table td,table th,.menu-toggle {
  text-align:right;
}

.menu-toggle:before,.main-navigation ul li a:before {
  margin-left:.53em;
  margin-right:auto;
}

@media screen and (min-width: 768px) {
  .site-header .subscribe-and-connect-connect .icons li {
    margin:0 .53em 0 0;
  }

  .col-full {
    margin-right:auto;
    margin-left:auto;
  }

  .main-navigation ul,.secondary-navigation ul {
    padding-right:0;
    padding-left:0;
  }

  .main-navigation ul li:hover > ul,.main-navigation ul li.focus > ul,.secondary-navigation ul li:hover > ul,.secondary-navigation ul li.focus > ul {
    right:0;
    left:auto;
  }

  .main-navigation ul li:hover > ul li:hover > ul,.main-navigation ul li:hover > ul li.focus > ul,.main-navigation ul li.focus > ul li:hover > ul,.main-navigation ul li.focus > ul li.focus > ul,.secondary-navigation ul li:hover > ul li:hover > ul,.secondary-navigation ul li:hover > ul li.focus > ul,.secondary-navigation ul li.focus > ul li:hover > ul,.secondary-navigation ul li.focus > ul li.focus > ul {
    right:100%;
    left:auto;
  }

  .main-navigation ul.menu > li:first-child,.main-navigation ul.nav-menu > li:first-child {
    margin-right:-1em;
    margin-left:auto;
  }

  .main-navigation ul.menu > li.menu-item-has-children > a:after,.main-navigation ul.menu > li.page_item_has_children > a:after,.main-navigation ul.nav-menu > li.menu-item-has-children > a:after,.main-navigation ul.nav-menu > li.page_item_has_children > a:after {
    margin-right:1em;
    margin-left:auto;
    float: left;
    margin-top: .326em;
  }

  .main-navigation ul.menu ul li.menu-item-has-children > a:after, .main-navigation ul.menu ul li.page_item_has_children > a:after, .main-navigation ul.nav-menu ul li.menu-item-has-children > a:after, .main-navigation ul.nav-menu ul li.page_item_has_children > a:after {
    content: "\f104";
  }

  .secondary-navigation .menu > li > a:before {
    right:-3px;
    left:auto;
  }

  .site-main [class*="navigation"] .nav-next {
    float:left;
    text-align:left;
  }

  .pagination .page-numbers li .page-numbers,.woocommerce-pagination .page-numbers li .page-numbers {
    border-right-width:0;
  }

  .pagination .page-numbers li .page-numbers.prev,.pagination .page-numbers li .page-numbers.next,.woocommerce-pagination .page-numbers li .page-numbers.prev,.woocommerce-pagination .page-numbers li .page-numbers.next {
    padding-right:1em;
    padding-left:1em;
  }

  #comments .comment-list .bypostauthor > .comment-body cite:after {
    margin-right:.53em;
    margin-left:auto;
  }

  #comments .comment-list .reply .comment-edit-link {
    border-right:1px solid rgba(0,0,0,0.1);
    border-left:none;
  }

  .comment-list #respond .comment-form-author,.comment-list #respond .comment-form-email,.comment-list #respond .comment-form-url {
    margin-left:0;
    margin-right:auto;
  }

  .comment-list ol.children .comment-meta {
    float:right;
    margin-left:6.6666666667%;
    margin-right:auto;
  }

  .comment-list ol.children ol.children .comment-meta {
    float:right;
    margin-left:7.6923076923%;
    margin-right:auto;
  }

  .comment-list ol.children ol.children ol.children .comment-meta {
    float:right;
    margin-left:9.0909090909%;
    margin-right:auto;
  }

  .comment-list ol.children ol.children ol.children ol.children .comment-meta {
    float:right;
    margin-left:11.1111111111%;
    margin-right:auto;
  }

  .widget_search form input[type=text],.widget_search form input[type=search],.widget_product_search form input[type=text],.widget_product_search form input[type=search] {
    padding-right:3.631em !important;
    padding-left:1.387em !important;
  }

  .widget_search form:before,.widget_product_search form:before {
    right:1em;
    left:auto;
  }

  .widget_recent_entries ul ul.children,.widget_pages ul ul.children {
    margin:.618em 1.387em 0 0;
  }

  .site-header .site-branding,.site-header .site-logo-anchor,.site-header .site-logo-link,.woocommerce-active .site-header .secondary-navigation,.woocommerce-active .site-header .main-navigation,.content-area,.left-sidebar .content-area,.right-sidebar .widget-area,.footer-widgets.col-2 .block,.footer-widgets.col-3 .block,.footer-widgets.col-4 .block {
    float:right;
    margin-left:4.347826087%;
    margin-right:auto;
  }

  .woocommerce-active .site-header .site-search,.woocommerce-active .site-header .site-header-cart,.widget-area,.left-sidebar .widget-area,.right-sidebar .content-area,.footer-widgets.col-2 .block.footer-widget-2,.footer-widgets.col-3 .block.footer-widget-3,.footer-widgets.col-4 .block.footer-widget-4,.hentry.type-post .entry-content,.comment-list .comment-content,.comment-list #respond,.comment-list ol.children,.comment-list ol.children .comment-content,.comment-list ol.children #respond,.comment-list ol.children ol.children,.comment-list ol.children ol.children .comment-content,.comment-list ol.children ol.children #respond,.comment-list ol.children ol.children ol.children,.comment-list ol.children ol.children ol.children .comment-content,.comment-list ol.children ol.children ol.children #respond,.comment-list ol.children ol.children ol.children ol.children,.comment-list ol.children ol.children ol.children ol.children .comment-content,.comment-list ol.children ol.children ol.children ol.children #respond,#respond .comment-form-url {
    float:left;
    margin-left:0;
    margin-right:auto;
  }

  .site-header .subscribe-and-connect-connect,.main-navigation ul.menu ul li.menu-item-has-children > a:after,.main-navigation ul.menu ul li.page_item_has_children > a:after,.main-navigation ul.nav-menu ul li.menu-item-has-children > a:after,.main-navigation ul.nav-menu ul li.page_item_has_children > a:after,.secondary-navigation .menu,.comment-list #respond {
    float:left;
  }

  .storefront-full-width-content .content-area,.page-template-template-fullwidth-php .content-area,.page-template-template-homepage-php .content-area,.comment-list .comment-meta .avatar {
    float:right;
    margin-right:0;
    margin-left:0;
  }

  .main-navigation ul li,.secondary-navigation ul li,.wp-caption .wp-caption-text {
    text-align:right;
  }

  .main-navigation ul ul,.secondary-navigation ul ul,.gallery .gallery-item,.site-main [class*="navigation"] .nav-previous,#comments .comment-list .reply a {
    float:right;
  }

  .main-navigation ul.menu ul,.main-navigation ul.nav-menu ul,.main-navigation ul.menu ul ul,.main-navigation ul.nav-menu ul ul,#comments .comment-list,.widget ul {
    margin-right:0;
    margin-left:auto;
  }

  .cat-links:before,.tags-links:before,.comments-link:before,.edit-link:before,.widget_recent_entries ul li:before,.widget_pages ul li:before,.widget_categories ul li:before,.widget_archive ul li:before,.widget_recent_comments ul li:before,.widget_nav_menu ul li:before,.widget_links ul li:before {
    margin-left:.53em;
    margin-right:auto;
  }

  .hentry.type-post .entry-meta,.comment-list .comment-meta,#respond .comment-form-author,#respond .comment-form-email,#respond .comment-form-url {
    float:right;
    margin-left:5.8823529412%;
    margin-right:auto;
  }

  .widget ul ul,.widget_recent_entries ul .sub-menu,.widget_pages ul .sub-menu,.widget_categories ul .sub-menu,.widget_archive ul .sub-menu,.widget_recent_comments ul .sub-menu,.widget_nav_menu ul .sub-menu,.widget_links ul .sub-menu {
    margin-right:1.618em;
    margin-left:auto;
  }
}


/**
 * Layered Nav
 */
.widget_layered_nav ul.checkboxes li input {
  margin-left:.618em;
  margin-right:auto;
}

.widget_layered_nav ul.checkboxes li.show-count .count,.widget_layered_nav ul.colors li.show-count .count,.widget_layered_nav ul.sizes li.show-count .count {
  float:left;
}


/**
 * Bookings
 */
#wc-bookings-booking-form .block-picker {
  text-align:right;
}

.product-type-booking form.cart {
  padding-right:0;
  padding-left:0;
}


/**
 * Composite Products
 */
.single-product div.product .component_selections .component_option_thumbnails .component_option_thumbnail {
  margin-right:5px;
  margin-left:auto;
}

.single-product div.product .selection_thumbnail_hidden .component_selections .component_summary .component_data,.storefront-full-width-content.single-product div.product .selection_thumbnail_hidden .component_selections .component_summary .component_data,.swc-product-gallery-hidden.single-product div.product .selection_thumbnail_hidden .component_selections .component_summary .component_data,.swc-product-gallery-stacked.single-product div.product .selection_thumbnail_hidden .component_selections .component_summary .component_data,.swc-product-gallery-hidden.storefront-full-width-content.single-product div.product .selection_thumbnail_hidden .component_selections .component_summary .component_data,.swc-product-gallery-stacked.storefront-full-width-content.single-product div.product .selection_thumbnail_hidden .component_selections .component_summary .component_data {
  float:right;
  margin-right:0;
  margin-left:0;
}

.single-product div.product .component_selections .component_summary .composited_product_images,.single-product div.product .component_selections .component_summary .images,.storefront-full-width-content.single-product div.product .component_selections .component_summary .composited_product_images,.storefront-full-width-content.single-product div.product .component_selections .component_summary .images,.swc-product-gallery-hidden.single-product div.product .component_selections .component_summary .composited_product_images,.swc-product-gallery-hidden.single-product div.product .component_selections .component_summary .images,.swc-product-gallery-stacked.single-product div.product .component_selections .component_summary .composited_product_images,.swc-product-gallery-stacked.single-product div.product .component_selections .component_summary .images,.swc-product-gallery-hidden.storefront-full-width-content.single-product div.product .component_selections .component_summary .composited_product_images,.swc-product-gallery-hidden.storefront-full-width-content.single-product div.product .component_selections .component_summary .images,.swc-product-gallery-stacked.storefront-full-width-content.single-product div.product .component_selections .component_summary .composited_product_images,.swc-product-gallery-stacked.storefront-full-width-content.single-product div.product .component_selections .component_summary .images {
  float:right;
  margin-left:4.347826087%;
  margin-right:auto;
}

.single-product div.product .component_selections .component_summary .composited_product_images a,.single-product div.product .component_selections .component_summary .images a,.storefront-full-width-content.single-product div.product .component_selections .component_summary .composited_product_images a,.storefront-full-width-content.single-product div.product .component_selections .component_summary .images a,.swc-product-gallery-hidden.single-product div.product .component_selections .component_summary .composited_product_images a,.swc-product-gallery-hidden.single-product div.product .component_selections .component_summary .images a,.swc-product-gallery-stacked.single-product div.product .component_selections .component_summary .composited_product_images a,.swc-product-gallery-stacked.single-product div.product .component_selections .component_summary .images a,.swc-product-gallery-hidden.storefront-full-width-content.single-product div.product .component_selections .component_summary .composited_product_images a,.swc-product-gallery-hidden.storefront-full-width-content.single-product div.product .component_selections .component_summary .images a,.swc-product-gallery-stacked.storefront-full-width-content.single-product div.product .component_selections .component_summary .composited_product_images a,.swc-product-gallery-stacked.storefront-full-width-content.single-product div.product .component_selections .component_summary .images a {
  padding-left:0;
  padding-right:0;
}

.single-product div.product .component_selections .component_summary .component_data,.storefront-full-width-content.single-product div.product .component_selections .component_summary .component_data {
  float:left;
  margin-left:0;
  margin-right:0;
}

.swc-product-gallery-hidden.single-product div.product .component_selections .component_summary .component_data,.swc-product-gallery-stacked.single-product div.product .component_selections .component_summary .component_data,.swc-product-gallery-hidden.storefront-full-width-content.single-product div.product .component_selections .component_summary .component_data,.swc-product-gallery-stacked.storefront-full-width-content.single-product div.product .component_selections .component_summary .component_data {
  float:left;
  margin-left:0;
  margin-right:auto;
}


/**
 * Photography
 */
@media screen and (min-width: 768px) {
  .woocommerce .photography-products .tools,.woocommerce-page .photography-products .tools {
    padding:1em 1.618em 1em 1em;
  }

  .woocommerce .site-main ul.products li.product-type-photography,.woocommerce-page .site-main ul.products li.product-type-photography {
    text-align:right;
  }
}


/**
 * Product reviews pro
 */
.woocommerce #reviews .product-rating .product-rating-summary,.woocommerce-page #reviews .product-rating .product-rating-summary {
  text-align:right;
}

.woocommerce #reviews .form-contribution #review_rating_field fieldset,.woocommerce-page #reviews .form-contribution #review_rating_field fieldset {
  float:right;
}

.woocommerce #reviews .form-contribution #review_rating_field fieldset label,.woocommerce-page #reviews .form-contribution #review_rating_field fieldset label {
  float:left;
}

.woocommerce #reviews .form-contribution #review_rating_field fieldset .star-label,.woocommerce-page #reviews .form-contribution #review_rating_field fieldset .star-label {
  margin-right:.618em;
  margin-left:auto;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar,.woocommerce-page #reviews #comments ol.commentlist li img.avatar {
  float:left;
}

.woocommerce #reviews #comments .form-contribution_comment,.woocommerce-page #reviews #comments .form-contribution_comment {
  float:left;
  margin-left:0;
  margin-right:auto;
}

.woocommerce .contribution-type-selector>a,.woocommerce-page .contribution-type-selector>a {
  margin-left:1em;
  margin-right:auto;
}

.woocommerce #reviews .contribution-karma,.woocommerce-page #reviews .contribution-karma,.woocommerce #reviews #comments ol.commentlist li .comment-text,.woocommerce-page #reviews #comments ol.commentlist li .comment-text {
  margin-right:0;
  margin-left:auto;
}


/**
 * Smart Coupons
 */
@media screen and (min-width: 768px) {
  .sc_info_box {
    float:left;
    margin-left:0;
    padding-right:2.0833333333%;
    padding-left:2.0833333333%;
    margin-right:auto;
  }

  .page-template-template-fullwidth-php .sc_info_box {
    float:left;
    margin-left:0;
    margin-right:0;
  }
}


/**
 * Wishlists
 */
.wl-add-link {
  padding-right:0!important;
  padding-left:0;
}

.wl-add-link:before {
  margin-left:.53em;
  margin-right:auto;
}

#wl-wrapper .wl-tabs>li>a {
  border-top-right-radius:0;
  border-top-left-radius:0;
}

@media screen and (min-width: 768px) {
  #wl-wrapper .wl-tabs>li a {
    padding-right:0;
    padding-left:0;
  }
}

/**
 * Deposits
 */
.wc-deposits-wrapper .wc-deposits-option li input {
  margin-right: 0;
  margin-left: .618em;
}


/**
 * WooCommerce
 */
.site-header-cart {
  margin-right:0;
  margin-left:auto;
}

.site-header-cart .cart-contents {
  left:0;
  right:auto;
}

.site-header-cart .cart-contents:after {
  left:0;
  right:auto;
}

.site-search .widget_product_search input[type=search],.site-search .widget_product_search input[type=text] {
  padding:1.387em 3.631em 1.387em 1.618em;
}

.site-search .widget_product_search form:before {
  right:1.618em;
  left:auto;
}

.woocommerce-pagination .page-numbers li a.next, .woocommerce-pagination .page-numbers li a.prev {
  transform: rotate(180deg);
}

ul.products {
  margin-right:0;
  margin-left:auto;
}

ul.products li.product {
  margin-right:0;
  margin-left:auto;
}

ul.products li.product .price ins {
  margin-right:.618em;
  margin-left:auto;
}

.single-product div.product .images .thumbnails a.zoom {
  margin-left:3.8%;
  float:right;
  margin-right:auto;
}

.single-product div.product .images .thumbnails a.zoom.last {
  margin-left:0;
  margin-right:auto;
}

.single-product div.product p.stock:before {
  margin-left:.53em;
  margin-right:auto;
}

#reviews .commentlist li .avatar {
  float:left;
}

#reviews .commentlist li ul.children {
  float:left;
  margin-left:0;
  margin-right:auto;
}

.woocommerce-breadcrumb a.home:before {
  margin-left:.53em;
  margin-right:auto;
}

.product_list_widget li img {
  float:left;
}

.widget_shopping_cart .product_list_widget li {
  padding-right:2em;
  padding-left:0;
}

.widget_shopping_cart .product_list_widget li a.remove {
  right:0;
  left:auto;
}

.widget_product_categories ul li:before {
  margin-left:.53em;
  margin-right:auto;
}

.widget_product_categories .children {
  margin-right:1.618em;
  margin-left:auto;
}

.site-header .widget_shopping_cart li,.site-header .widget_shopping_cart p.buttons,.site-header .widget_shopping_cart p.total {
  padding-right:1.387em;
  padding-left:1.387em;
}

.widget_layered_nav li:before {
  margin-left:.53em;
  margin-right:auto;
}

.widget.woocommerce li .count {
  float:left;
}

.widget_price_filter .price_slider_amount {
  text-align:left;
}

.widget_price_filter .ui-slider {
  text-align:right;
}

.widget_price_filter .ui-slider .ui-slider-handle:last-child {
  margin-right:-1em;
  margin-left:auto;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
  right:-1px;
  left:auto;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
  left:-1px;
  right:auto;
}

a.remove:before {
  right:0;
  left:0;
}

#payment .payment_methods li {
  margin-right:0;
  margin-left:auto;
}

#payment .payment_methods li img {
  float:left;
}

#payment .payment_methods li label {
  margin-right:.618em;
  margin-left:auto;
}

#payment .payment_methods li .payment_box fieldset label {
  margin-right:0;
  margin-left:auto;
}

#payment .payment_methods li .payment_box fieldset .help {
  float:left;
}

#payment .terms input {
  float:right;
  margin:.327em 0 0 .53em;
}

ul.order_details {
  margin-right:0;
  margin-left:auto;
}

ul.order_details li {
  float:right;
  border-left:1px solid rgba(0,0,0,.1);
  border-right:none;
}

ul.digital-downloads li:before {
  margin-left:.53em;
  margin-right:auto;
}

.my_account_orders .button {
  margin-left:.236em;
  margin-right:auto;
}

.form-row-last {
  margin-left:0!important;
  margin-right:auto;
}

.demo_store {
  right:0;
  left:0;
}

.demo_store:before {
  margin-left:.53em;
  margin-right:auto;
}

.star-rating:before {
  float:right;
  right:0;
  left:auto;
}

.star-rating span {
  float:right;
  right:0;
  left:auto;
}

.star-rating span:before {
  right:0;
  left:auto;
}

p.stars a {
  margin-left:1em;
  margin-right:auto;
}

p.stars a.star-1:after,p.stars a.star-2:after,p.stars a.star-3:after,p.stars a.star-4:after,p.stars a.star-5:after {
  right:0;
  padding-left:1em;
  left:auto;
  padding-right:0;
}

.woocommerce-tabs ul.tabs {
  margin-right:0;
  margin-left:auto;
}

.woocommerce-tabs ul.tabs li {
  margin-left:1em;
  margin-right:auto;
}

.woocommerce-tabs ul.tabs li.active:after {
  right:50%;
  margin-left:-.5em;
  left:auto;
  margin-left:auto;
  content: "\f104";
  text-align: left;
}

.woocommerce-error,.woocommerce-info,.woocommerce-message,.woocommerce-noreviews,p.no-comments {
  margin-right:0;
  border-right:.618em solid rgba(0,0,0,.15);
  margin-left:auto;
  border-left:none;
}

.woocommerce-error .button,.woocommerce-info .button,.woocommerce-message .button,.woocommerce-noreviews .button,p.no-comments .button {
  float:left;
  border-right-style:solid;
  border-right-color:rgba(255,255,255,.25)!important;
  padding:0 1em 0 0;
}

.wc-forward:after {
  content: "\f177"
}

.woocommerce-active .site-branding,.woocommerce-active .site-logo-anchor,.single-product div.product form.cart .quantity,.widget_price_filter .price_slider_amount .button {
  float:right;
}

.single-product div.product form.cart .button,.single-product div.product .woocommerce-product-rating .star-rating,#payment .payment_methods li .payment_box fieldset .form-row-first select:nth-child(2n) {
  float:left;
}

#reviews .commentlist,.product_list_widget,ul.digital-downloads {
  margin-right:0;
  margin-left:auto;
}

ul.order_details li:last-child,p.stars a:last-child {
  border-left:0;
  border-right:none;
}

@media screen and (min-width: 768px) {
  p.stars a.star-1,p.stars a.star-2,p.stars a.star-3,p.stars a.star-4 {
    border-left:1px solid rgba(0,0,0,.1);
    border-right:none;
  }

  .site-header-cart .cart-contents:after {
    left:1.618em;
    right:auto;
    top: .236em;
  }

  .site-header-cart .cart-contents .amount {
    margin-left:.327em;
    margin-right:auto;
  }

  .site-header-cart .widget_shopping_cart {
    right:-999em;
    left:auto;
  }

  .site-header-cart .widget_shopping_cart .product_list_widget li a.remove {
    float:right;
  }

  .site-header-cart .widget_shopping_cart .product_list_widget li a.remove:before {
    text-align:right;
  }

  .site-header-cart.focus .widget_shopping_cart,.site-header-cart:hover .widget_shopping_cart {
    right:0;
    left:auto;
  }

  ul.products li.product {
    float:right;
  }

  ul.products li.product.last {
    margin-left:0!important;
    margin-right:auto;
  }

  .page-template-template-fullwidth-php .site-main .columns-4 ul.products li.product,.page-template-template-homepage-php .site-main .columns-4 ul.products li.product,.storefront-full-width-content .site-main .columns-4 ul.products li.product {
    float:right;
    margin-left:4.347826087%;
    margin-right:auto;
  }

  .site-main .columns-2 ul.products li.product {
    margin-left:3.8%;
    margin-right:auto;
  }

  .site-main .columns-4 ul.products li.product {
    margin-left:3.8%;
    margin-right:auto;
  }

  .single-product div.product .images {
    float:right;
    margin-left:5.8823529412%;
    margin-right:auto;
  }

  .single-product div.product .images .thumbnails a.zoom.last {
    float:left;
    margin-left:0;
    margin-right:auto;
  }

  .single-product div.product .summary {
    float:left;
    margin-left:0;
    margin-right:auto;
  }

  .storefront-full-width-content.single-product div.product .images {
    float:right;
    margin-left:4.347826087%;
    margin-right:auto;
  }

  .woocommerce-result-count {
    float:right;
  }

  .woocommerce-ordering {
    float:right;
    margin-left:1em;
    margin-right:auto;
  }

  .woocommerce-pagination {
    float:left;
  }

  table.cart td.actions {
    text-align:left;
  }

  table.cart td.actions .coupon {
    float:right;
  }

  .cart-collaterals .cross-sells ul.products li.product {
    float:right;
    margin-left:14.2857142857%;
    margin-right:auto;
  }

  .cart-collaterals .cart_totals,.cart-collaterals .shipping_calculator {
    float:left;
    clear:left;
  }

  .cart-collaterals .shipping_calculator {
    clear:left;
  }

  .col2-set {
    float:right;
    margin-left:5.8823529412%;
    margin-right:auto;
  }

  .col2-set .form-row-first {
    float:right;
    margin-left:11.1111111111%;
    margin-right:auto;
  }

  .col2-set .form-row-last {
    float:left;
    margin-left:0;
    margin-right:auto;
  }

  #order_review,#order_review_heading {
    float:left;
    margin-left:0;
    clear:left;
    margin-right:auto;
  }

  .woocommerce-order-pay #order_review #payment h3 {
    padding-right:1em;
    padding-left:0;
  }

  .page-template-template-fullwidth-php .col2-set .form-row-last {
    float:left;
    margin-left:0;
    margin-right:auto;
  }

  .form-row-first {
    float:right;
    margin-left:5.8823529412%;
    margin-right:auto;
  }

  .form-row-last {
    float:left;
    margin-left:0;
    margin-right:auto;
  }

  .woocommerce-tabs ul.tabs {
    float:right;
    margin-left:5.8823529412%;
    text-align:right;
    margin-right:auto;
  }

  .woocommerce-tabs ul.tabs li.active:after {
    left:0;
    right:auto;
  }

  .woocommerce-tabs .panel {
    float:left;
    margin-left:0;
    margin-right:auto;
  }

  .page-template-template-fullwidth-php .site-main .columns-1 ul.products li.product,.page-template-template-homepage-php .site-main .columns-1 ul.products li.product,.storefront-full-width-content .site-main .columns-1 ul.products li.product,.site-main .columns-1 ul.products li.product {
    margin-left:0;
    margin-right:auto;
  }

  .page-template-template-fullwidth-php .site-main .columns-2 ul.products li.product,.page-template-template-homepage-php .site-main .columns-2 ul.products li.product,.storefront-full-width-content .site-main .columns-2 ul.products li.product,.page-template-template-fullwidth-php .cart-collaterals .cross-sells,.page-template-template-fullwidth-php .col2-set,.page-template-template-fullwidth-php .form-row-first {
    float:right;
    margin-left:4.347826087%;
    margin-right:auto;
  }

  .page-template-template-fullwidth-php .site-main .columns-3 ul.products li.product,.page-template-template-homepage-php .site-main .columns-3 ul.products li.product,.storefront-full-width-content .site-main .columns-3 ul.products li.product,.storefront-full-width-content.single-product .related ul.products li.product,.storefront-full-width-content.single-product .upsells ul.products li.product,.storefront-full-width-content .woocommerce-tabs ul.tabs {
    float:right;
    margin-left:4.347826087%;
    margin-right:auto;
  }

  .page-template-template-fullwidth-php .site-main .columns-5 ul.products li.product,.page-template-template-homepage-php .site-main .columns-5 ul.products li.product,.storefront-full-width-content .site-main .columns-5 ul.products li.product,.site-main .columns-5 ul.products li.product {
    margin-left:3.8%;
    margin-right:auto;
  }

  .site-main .columns-3 ul.products li.product,.site-main ul.products li.product {
    float:right;
    margin-left:5.8823529412%;
    margin-right:auto;
  }

  .single-product div.product .images .thumbnails a.zoom,.storefront-full-width-content.single-product div.product .images .thumbnails a.zoom {
    float:right;
    margin-left:14.2857142857%;
    margin-right:auto;
  }

  #reviews .comment-form-email,.storefront-full-width-content.single-product div.product .images .thumbnails a.zoom.last {
    margin-left:0;
    margin-right:auto;
  }

  .storefront-full-width-content.single-product div.product .summary,.storefront-full-width-content .woocommerce-tabs .panel {
    float:left;
    margin-left:0;
    margin-right:auto;
  }

  .cart-collaterals .cross-sells,#wc_checkout_add_ons {
    float:right;
    margin-left:5.8823529412%;
    margin-right:auto;
  }

  .page-template-template-fullwidth-php .cart-collaterals .cross-sells ul.products li.product,.page-template-template-fullwidth-php .col2-set .form-row-first {
    float:right;
    margin-left:9.0909090909%;
    margin-right:auto;
  }

  .page-template-template-fullwidth-php .cart-collaterals .cart_totals,.page-template-template-fullwidth-php .cart-collaterals .shipping_calculator,.page-template-template-fullwidth-php #order_review,.page-template-template-fullwidth-php #order_review_heading,.page-template-template-fullwidth-php #wc_checkout_add_ons,.page-template-template-fullwidth-php .form-row-last {
    float:left;
    margin-left:0;
    margin-right:auto;
  }
}