/**
 * Jetpack
 */

// Imports
@import 'bourbon';
@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';
@import '../../../assets/sass/vendors/modular-scale';

// Subscription widget
.jetpack_subscription_widget {
	#subscribe-email {
		input {
			padding: ms(-2) !important;
			width: 100% !important;
		}
	}
}

/**
 * Infinite Scroll
 */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll .pagination,
.infinite-scroll .woocommerce-pagination,
.infinite-scroll ul.products + .storefront-sorting,
.infinite-scroll .woocommerce-result-count,
.infinite-scroll.neverending .site-footer,
.infinite-scroll .storefront-sorting { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}