/**
 * WooCommerce Product Bundles
 */

/**
 * Imports
 */

@import "bourbon";
@import "../../sass/utils/variables";
@import "../../sass/utils/mixins";
@import "susy";
@import "../../sass/vendors/modular-scale";

/**
 * Base
 */

.bundle_form {

	div.bundled_product_summary {

		padding-bottom: ms(3) !important;
		margin-bottom: ms(3);
		border-bottom: 1px solid $color_border;

		padding-left: 0;

		.bundled_product_images {

			margin-left: 0;

			a {
				margin: 0 !important;
			}

			img {
				width: 100% !important;
				margin-bottom: 0;
			}
		}
	}

	div.bundled_product_summary,
	tr.bundled_product_summary {

		.details {
			font-size: ms(-1);
		}
	}
}

.woocommerce,
.woocommerce-page {

	#content div.product,
	div.product {

		.bundle_form div.bundled_product_summary .bundled_product_images {

			@include span( 2 of 10 );
		}
	}
}

.bundle_form {

	div.bundled_product_summary:not(.thumbnail_hidden) {

		.details {

			@include span( last 8 of 10 );
		}
	}
}


.bundle_form {

	div.bundled_product_summary:not(.thumbnail_hidden) {

		.details {
			padding: 0 !important;
		}
	}
}

.bundled_table_item {

	.product-name {
		padding-left: 4rem;
	}
}

table.shop_table_responsive tr.bundled_table_item {
	display: none;
}

/**
 * Desktop
 */

@include susy-media($desktop) {

	.bundle_table_item dl.bundle_configuration {
		display: none;
	}

	table.shop_table_responsive tr.bundled_table_item {
		display: table-row;
	}

	.sp-product-gallery-stacked,
	.storefront-full-width-content,
	.page-template-template-fullwidth-php {

		.bundle_form {

			.bundled_product_summary {

				.details {
					font-size: 1em;
				}
			}
		}
	}

	.sp-product-gallery-stacked,
	.storefront-full-width-content,
	.page-template-template-fullwidth-php {

		#content div.product,
		div.product {

			.bundle_form div.bundled_product_summary .bundled_product_images {

				@include span( 2 of 8 );
			}
		}

		.bundle_form {

			div.bundled_product_summary:not(.thumbnail_hidden) {

				.details {

					@include span( last 6 of 8 );
				}
			}
		}
	}
}

/**
 * Handheld
 */

@include susy-media(max-width $handheld) {

	.woocommerce,
	.woocommerce-page {

		#content div.product,
		div.product {

			.bundle_form div.bundled_product_summary .bundled_product_images {

				@include span( 10 of 10 );
			}
		}
	}

	.bundle_form {

		div.bundled_product_summary:not(.thumbnail_hidden) {

			.details {

				@include span( 10 of 10 );
			}
		}
	}

	.bundle_form {

		div.bundled_product_summary .bundled_product_images {
			max-width: 50%;
		}

		div.bundled_product_summary .bundled_product_images {

			img {
				margin-bottom: 1em;
			}
		}

		table.bundled_products td {
			display: block;
		}

		table.bundled_products thead {
			display: none;
		}

		table.bundled_products tr td.bundled_item_images_col {
			width: 100%;
			padding-bottom: 0;
		}

		table.bundled_products tr {

			td.bundled_item_images_col,
			td.bundled_item_details_col {
				padding-bottom: 0;
			}

			td.bundled_item_images_col {
				width: 100%;
			}
		}

		table.bundled_products tr td.bundled_item_qty_col {
			max-width: 100%;
			text-align: left;
		}
	}
}
