/**
 * WooCommerce Mix and Match
 */

/**
 * Imports
 */
@import "bourbon";
@import "../../sass/utils/variables";
@import "../../sass/vendors/modular-scale";

.single-product div.product {

	// Tabular layout.
	.mnm_table {

		.product-thumbnail,
		.product-description,
		.product-quantity {
			padding: ms(-2) ms(-1) !important;
		}

		.mnm_item {

			img {
				max-width: 100%;
			}
		}

		.product-quantity .quantity {
			margin-right: 0;
		}

	}

	.mnm-checkbox {
		width: initial;
	}

}

.cart,
.shop_table {

	.mnm_table_item {

		.product-thumbnail {

			img {
				max-width: ms(5) !important;
			}
		}

		.mnm_table_item_indent {
			padding-left: 0;
		}

		.product-name,
		.product-price,
		.product-quantity {
			font-size: 1em;
		}
	}
}
