/**
 * WooCommerce Photography
 */

/**
 * Imports
 */
@import "bourbon";
@import "../../sass/utils/variables";
@import "../../sass/utils/mixins";
@import "susy";
@import "../../sass/vendors/modular-scale";

.woocommerce,
.woocommerce-page {

	ul.products {

		li.product-type-photography {

			@include clearfix;
			text-align: left;

			.photography-image,
			.photography-content {
				float: none;
				width: 100%;
			}

			.photography-image {

				img {
					width: 100%;
				}
			}

			.photography-sku {
				border-bottom: 1px solid $color_border;
			}

			.sku {
				font-weight: 600;
			}
		}
	}
}

.woocommerce,
.woocommerce-page {

	.photography-products {

		.tools {
			margin-bottom: ms(5);
			background-color: rgba(0, 0, 0, 0.025);
			padding: 1em 1em 1em ms(3);
			border: 0;
		}
	}
}
