/**
 * WooCommerce Product Recommendations
 */

/**
 * Imports
 */

@import "bourbon";
@import "../../sass/utils/variables";
@import "../../sass/utils/mixins";
@import "susy";
@import "../../sass/vendors/modular-scale";

/**
 * Base
 */
.wc-prl-recommendations {

	h2 {
		font-size: ms(3);
	}

	&.wc-prl-page-product_details {

		&.wc-prl-location-before_tabs,
		&.wc-prl-location-after_tabs {

			h2 {
				margin-bottom: ms(1);
				text-align: center;
			}
		}

		&.wc-prl-location-after_summary {
			margin-top: ms(2);
		}
	}

	&.wc-prl-location-after_pay_button {
		margin-top: ms(2);
	}

	&.wc-prl-page-checkout {

		&.wc-prl-location-order_review {
			margin-top: ms(5);
		}
	}
}
