/**
 * WooCommerce Product Recommendations
 */

/**
 * Imports
 */

@import 'bourbon';
@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';
@import '../../../../node_modules/susy/sass/susy';
@import '../../sass/vendors/modular-scale';

/**
 * Base
 */
.wc-prl-recommendations {

	&:not( .wc-prl-location-homepage ) h2 {
		font-size: 1.618em;
	}

	&.wc-prl-location-homepage {

		h2 {
			text-align: center;
			margin-bottom: 1em;
		}
	}

	&.wc-prl-page-product_details {

		&.wc-prl-location-before_tabs,
		&.wc-prl-location-after_tabs {

			h2 {
				margin-bottom: 1em;
				text-align: center;
			}
		}

		&.wc-prl-location-after_summary {
			margin-top: 1.41575em;
		}
	}

	&.wc-prl-location-after_pay_button {
		margin-top: 1.41575em;
	}

	&.wc-prl-page-checkout {

		&.wc-prl-location-order_review {
			margin-top: 2.617924em;
		}
	}
}
