// Some common variables and mixins to get you started.
// Variables allow you to re-use colors, sizes, and other values without repeating
// yourself. This means that changes that should be small, such as tweaking the
// coloring or the sizing, can be done in one place, not all over the stylesheet.

$base-font: 		"Helvetica Neue", sans-serif;
$header-font: 		$base-font;

// base color scheme
$body-background: 	#FCFCFC;
$color_body: 		#60646c;
$color_links: 		#96588a;
$color_border:		rgba(0,0,0,0.1);
$error: 			#e2401c;
$success: 			#0f834d;
$info: 				#3D9CD2;

// layout sizes
$vspacing: 			1.618em;
$desktop:			768px;
$handheld:			568px;
$container-width:	65.141em;

$susy: (
	columns: 12,
	gutters: 1,
	math: fluid,
	output: float,
	gutter-position: after,

	use-custom: (
		box-sizing: false
	)
);