/**
 * WooCommerce Brands
 */

/**
 * Imports
 */
@import 'bourbon';
@import '../../../assets/sass/utils/variables';
@import '../../../assets/sass/utils/mixins';

.header-widget-region {
	.widget_brand_thumbnails {
		ul.brand-thumbnails {
			@include clearfix;
			text-align: center;

			li {
				display: inline-block;
				width: auto !important;
				float: none !important;
				margin-bottom: 0 !important;

				img {
					max-height: 16px;
					width: auto;
					display: block;
				}
			}
		}
	}
}