/**
 * WooCommerce Photography
 */

/**
 * Imports
 */
@import 'bourbon';
@import '../../../sass/utils/variables';
@import '../../../sass/utils/mixins';
@import '../../../node_modules/susy/sass/susy';

@include susy-media($desktop) {
	.woocommerce,
	.woocommerce-page {
		.photography-products {
			.tools {
				margin-bottom: 2.618em;
				background-color: rgba(0,0,0,0.025);
				padding: 1em 1em 1em 1.618em;
				border: 0;
			}
		}

		.site-main ul.products {
			li.product-type-photography {
				@include clearfix;
				text-align: left;

				.photography-image,
				.photography-content {
					float: none;
					width: 100%;
				}

				.photography-image {
					img {
						width: 100%;
					}
				}

				.photography-sku {
					border-bottom: 1px dotted rgba(0,0,0,0.1);
				}

				.sku {
					font-weight: 700;
				}
			}
		}
	}
}