.appearance_page_storefront-welcome {
	.storefront-add-ons {
		overflow: hidden;
		zoom: 1;

		.add-on {
			border: 1px solid #ddd;
			background: #f8f8f8;
			margin-bottom: 2.618em;
			box-shadow: 0 1px 2px rgba(0,0,0,.05);
			clear: both;
			position: relative;
			min-height: 330px;

			h4 {
				margin-top: 0;
				font-size: 1em;
				padding: 1.618em;
				line-height: 1.4;
				background: #fff;
				margin: 0;
			}

			.content {
				padding: 1em 1.618em 1.618em 1.618em;

				p:last-child {
					margin-bottom: 0;
				}
			}

			&.activated {
				border-color: #7ad03a;
				border-width: 2px;
			}
		}

		img {
			padding: .618em;
			background: #fff;
			box-sizing: border-box;
		}
	}

	.last-feature {
		margin-right: 0 !important;
	}

	.panel {
		width: 30.75%;
		float: left;
		margin-right: 3.8%;

		&#child_themes {
			margin-right: 0;
		}

		hr {
			margin: 2.618em 0;
		}
	}

	#who {
		clear: both;
	}

	.free {
		text-transform: uppercase;
		font-size: 90%;
		color: #fff;
		background: #333;
		display: inline-block;
		padding: 2px 6px;
		float: right;
	}

	.activated {
		background: #7ad03a;
		color: #fff;
		font-size: 13px;
		line-height: 26px;
		height: 28px;
		margin: 0;
		padding: 0 10px 1px;
		display: inline-block;
		border-radius: 3px;

		span {
			line-height: 26px;
		}
	}

	.free-plugins {
		li {
			border-bottom: 1px solid rgba(#000,.1);
			padding-bottom: .53em;
			margin-bottom: .53em;

			&:last-child {
				padding-bottom:0;
				margin-bottom: 0;
				border-bottom: 0;
			}
		}
	}
}