.appearance_page_storefront-welcome .storefront-add-ons {
  overflow: hidden;
  zoom: 1; }
  .appearance_page_storefront-welcome .storefront-add-ons .add-on {
    border: 1px solid #ddd;
    background: #f8f8f8;
    margin-bottom: 2.618em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    clear: both;
    position: relative;
    min-height: 330px; }
    .appearance_page_storefront-welcome .storefront-add-ons .add-on h4 {
      margin-top: 0;
      font-size: 1em;
      padding: 1.618em;
      line-height: 1.4;
      background: #fff;
      margin: 0; }
    .appearance_page_storefront-welcome .storefront-add-ons .add-on .content {
      padding: 1em 1.618em 1.618em 1.618em; }
      .appearance_page_storefront-welcome .storefront-add-ons .add-on .content p:last-child {
        margin-bottom: 0; }
    .appearance_page_storefront-welcome .storefront-add-ons .add-on.activated {
      border-color: #7ad03a;
      border-width: 2px; }
  .appearance_page_storefront-welcome .storefront-add-ons img {
    padding: .618em;
    background: #fff;
    box-sizing: border-box; }

.appearance_page_storefront-welcome .last-feature {
  margin-right: 0 !important; }

.appearance_page_storefront-welcome .panel {
  width: 30.75%;
  float: left;
  margin-right: 3.8%; }
  .appearance_page_storefront-welcome .panel#child_themes {
    margin-right: 0; }
  .appearance_page_storefront-welcome .panel hr {
    margin: 2.618em 0; }

.appearance_page_storefront-welcome #who {
  clear: both; }

.appearance_page_storefront-welcome .free {
  text-transform: uppercase;
  font-size: 90%;
  color: #fff;
  background: #333;
  display: inline-block;
  padding: 2px 6px;
  float: right; }

.appearance_page_storefront-welcome .activated {
  background: #7ad03a;
  color: #fff;
  font-size: 13px;
  line-height: 26px;
  height: 28px;
  margin: 0;
  padding: 0 10px 1px;
  display: inline-block;
  border-radius: 3px; }
  .appearance_page_storefront-welcome .activated span {
    line-height: 26px; }
