/**
 * WooCommerce Variation Swatches
 */

/**
 * Imports
 */
@import 'bourbon';
@import '../../../sass/utils/variables';
@import '../../../sass/utils/mixins';

.variations-table {
	.swatch-wrapper {
		padding: 0;
		border: 0;
		opacity: 0.5;
		margin-right: .53em;

		.swatch-anchor {

			&:focus {
				outline: none;
			}
		}

		&.selected,
		&:hover {
			padding: 0;
			border: 0;
			opacity: 1;
		}

		&.selected {
			box-shadow: 0 0 0 1px rgba(#000,0.25);

			.swatch-anchor {
				border: 2px solid #fff;
			}
		}
	}
}

#variations_clear {
	display: block;
	margin-bottom: 1em;
}