/**
 * WooCommerce
 */
/**
 * Imports
 */
/**
 * Products
 */
ul.products {
  margin-left: 0;
  clear: both; }
  ul.products:after {
    content: "";
    display: table;
    clear: both; }
  ul.products li.product {
    list-style: none;
    margin-left: 0;
    width: 48%;
    float: left;
    clear: both;
    margin-bottom: 4.236em;
    text-align: center;
    overflow: hidden;
    position: relative; }
    ul.products li.product:nth-child(2n) {
      float: right;
      clear: none; }
    ul.products li.product .star-rating,
    ul.products li.product .price {
      margin: 0 auto 1em; }
    ul.products li.product .price {
      display: block;
      color: #424a4c;
      font-weight: 400; }
      ul.products li.product .price ins {
        font-weight: 700;
        margin-left: .618em;
        background-color: transparent; }
    ul.products li.product img.wp-post-image {
      display: block;
      margin-bottom: 1.618em; }
    ul.products li.product.product-category img {
      margin-bottom: 1.618em; }
    ul.products li.product.featured {
      padding-bottom: 2.244em;
      background-color: rgba(0, 0, 0, 0.015); }
      ul.products li.product.featured .price,
      ul.products li.product.featured h3 {
        padding-left: 1.618em;
        padding-right: 1.618em; }
    ul.products li.product .button {
      margin-bottom: .236em; }

.woocommerce .page-description {
  display: block;
  float: left;
  margin-left: 0;
  margin-right: -100%;
  width: 65.31987%;
  clear: none;
  float: left;
  margin-left: 0;
  margin-right: 3%;
  margin-bottom: 1.618em; }

/**
 * Single Product
 */
.single-product div.product {
  position: relative;
  overflow: hidden; }
  .single-product div.product:after {
    content: "";
    display: table;
    clear: both; }
  .single-product div.product .images,
  .single-product div.product .summary {
    margin-bottom: 2.618em;
    margin-top: 0; }
  .single-product div.product .images .woocommerce-main-image {
    margin-bottom: 1.618em;
    display: block; }
  .single-product div.product form.cart {
    margin-bottom: 1.618em;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.0125); }
    .single-product div.product form.cart:after {
      content: "";
      display: table;
      clear: both; }
    .single-product div.product form.cart .quantity {
      float: left;
      margin-left: -1em; }
    .single-product div.product form.cart .button {
      float: right; }
  .single-product div.product .price {
    font-weight: 700; }
  .single-product div.product table.variations {
    margin: 0; }
    .single-product div.product table.variations th,
    .single-product div.product table.variations td {
      display: list-item;
      padding: 0;
      list-style: none;
      background-color: transparent; }
    .single-product div.product table.variations .value {
      margin-bottom: 1em; }
  .single-product div.product .single_variation .price {
    margin-bottom: 1em;
    display: block; }
  .single-product div.product .variations_button {
    padding-top: 1em;
    border-top: 1px solid #e3e3e3; }
    .single-product div.product .variations_button:after {
      content: "";
      display: table;
      clear: both; }
  .single-product div.product .woocommerce-product-rating {
    margin-bottom: 2.618em;
    line-height: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 0 1.618em;
    margin-top: -.618em; }
    .single-product div.product .woocommerce-product-rating:after {
      content: "";
      display: table;
      clear: both; }
    .single-product div.product .woocommerce-product-rating a {
      font-size: .857em; }
    .single-product div.product .woocommerce-product-rating .star-rating {
      float: right; }
  .single-product div.product .product_meta {
    font-size: .857em; }

/**
 * Reviews
 */
#reviews #comments {
  padding-top: 0; }
#reviews .commentlist {
  list-style: none;
  margin-left: 0; }
  #reviews .commentlist li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 3.631em; }
    #reviews .commentlist li time {
      color: #717f83; }
    #reviews .commentlist li .avatar {
      float: right;
      width: 2.618em;
      height: auto; }
    #reviews .commentlist li p.meta {
      margin-bottom: 1em; }
    #reviews .commentlist li .description {
      padding-bottom: 1.618em; }
#reviews .comment-form-author,
#reviews .comment-form-email {
  width: 48%; }
#reviews .comment-form-email {
  margin-right: 0; }
#reviews .comment-form-rating {
  clear: both; }

/**
 * Header Elements
 */
.site-header-cart {
  position: relative;
  list-style-type: none;
  margin-left: 0; }
  .site-header-cart .cart-contents {
    display: block;
    padding: 1.387em 1.618em;
    position: relative;
    background-color: rgba(0, 0, 0, 0.025); }
    .site-header-cart .cart-contents:after {
      content: "\f07a";
      font-family: "FontAwesome";
      position: absolute;
      top: 1.387em;
      right: 1.618em;
      line-height: 1.387;
      height: 1em;
      width: 1em; }
    .site-header-cart .cart-contents .amount {
      margin-right: .327em; }
    .site-header-cart .cart-contents .count {
      font-weight: 400;
      opacity: 0.5;
      font-size: .857em; }
  .site-header-cart .widget_shopping_cart {
    display: none;
    background-color: #2c2d33; }

.site-search {
  font-size: .857em; }
  .site-search .widget_product_search input[type=text] {
    width: 100%; }
  .site-search .widget_product_search #searchsubmit {
    display: none; }

/**
 * Pagination
 */
.woocommerce-pagination {
  padding: 1em 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-width: 1px 0;
  text-align: center; }
  .woocommerce-pagination .page-numbers {
    list-style: none;
    margin: 0; }
    .woocommerce-pagination .page-numbers:after {
      content: "";
      display: table;
      clear: both; }
    .woocommerce-pagination .page-numbers li {
      display: inline-block; }
      .woocommerce-pagination .page-numbers li .page-numbers {
        border-left-width: 0;
        display: inline-block;
        padding: .327em .857em;
        border: 1px solid transparent; }
        .woocommerce-pagination .page-numbers li .page-numbers.current {
          font-weight: 700;
          border-color: rgba(0, 0, 0, 0.2);
          background-color: rgba(0, 0, 0, 0.05); }
        .woocommerce-pagination .page-numbers li .page-numbers.dots {
          background-color: transparent; }
        .woocommerce-pagination .page-numbers li .page-numbers.prev, .woocommerce-pagination .page-numbers li .page-numbers.next {
          padding-left: 1.387em;
          padding-right: 1.387em; }
      .woocommerce-pagination .page-numbers li a.page-numbers:hover {
        border-color: rgba(0, 0, 0, 0.2); }

/**
 * Breadcrumbs
 */
.woocommerce-breadcrumb {
  margin-bottom: 4.236em;
  font-size: .857em;
  padding: 1em 1.387em;
  background-color: rgba(0, 0, 0, 0.0125);
  color: #717f83;
  margin-top: -2.618em; }
  .woocommerce-breadcrumb .separator {
    padding: 0 1em; }
  .woocommerce-breadcrumb a.home:before {
    content: "\f015";
    font-family: "FontAwesome";
    font-weight: 400;
    margin-right: .53em; }

/**
 * Widgets
 */
.product_list_widget {
  list-style: none;
  margin-left: 0; }
  .product_list_widget li {
    padding: 1em 0;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2); }
    .product_list_widget li:after {
      content: "";
      display: table;
      clear: both; }
    .product_list_widget li img {
      max-width: 2.618em;
      float: right; }
    .product_list_widget li .quantity {
      display: block;
      color: #717f83; }
  .product_list_widget a {
    color: #2a2f31; }
    .product_list_widget a:hover {
      color: #a46497; }

.widget_shopping_cart .product_list_widget {
  margin-bottom: 0; }
.widget_shopping_cart p.total,
.widget_shopping_cart p.buttons {
  padding: 1em 0;
  margin: 0;
  text-align: center; }
.widget_shopping_cart p.total {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.site-header .widget_shopping_cart p.total,
.site-header .widget_shopping_cart p.buttons,
.site-header .widget_shopping_cart li {
  padding-left: 1.387em;
  padding-right: 1.387em; }

.widget_layered_nav .chosen a {
  font-weight: 700; }

.widget.woocommerce li .count {
  font-size: 1em;
  float: right; }

.widget_price_filter .price_slider {
  margin-bottom: 1em; }
.widget_price_filter .price_slider_amount {
  text-align: right;
  line-height: 2.4em; }
  .widget_price_filter .price_slider_amount .button {
    float: left; }
.widget_price_filter .ui-slider {
  position: relative;
  text-align: left; }
.widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1em;
  height: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  cursor: pointer;
  outline: none;
  background: #000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .widget_price_filter .ui-slider .ui-slider-handle:last-child {
    margin-left: -1em; }
.widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background: #a46497;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em; }
.widget_price_filter .price_slider_wrapper .ui-widget-content {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background: rgba(0, 0, 0, 0.1); }
.widget_price_filter .ui-slider-horizontal {
  height: 1em; }
.widget_price_filter .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%; }
.widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
  left: -1px; }
.widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
  right: -1px; }

/**
 * Cart
 */
table.cart {
  margin-bottom: 3.631em; }
  table.cart .product-thumbnail,
  table.cart .product-quantity .plus,
  table.cart .product-quantity .minus {
    display: none; }
  table.cart td.actions label {
    display: none; }
  table.cart td.actions .coupon {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2); }
  table.cart td.actions input {
    display: block;
    width: 100%;
    margin: .236em 0; }

ul#shipping_method {
  margin: 0;
  list-style: none; }

a.remove {
  display: block;
  width: 1em;
  height: 1em;
  line-height: .85;
  font-weight: 700;
  padding: .236em;
  background-color: #e2401c;
  text-align: center;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  color: #fff; }
  a.remove:hover {
    background-color: #424a4c;
    color: #fff; }

/**
 * Checkout
 */
.checkout_coupon {
  margin-bottom: 2.618em; }

#payment {
  background-color: #fff;
  border-top: 3px solid rgba(0, 0, 0, 0.2); }
  #payment:after {
    content: "";
    display: table;
    clear: both; }
  #payment .create-account {
    clear: both; }
  #payment .payment_methods {
    margin: 0 !important;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
    padding: 0 !important; }
    #payment .payment_methods li {
      list-style: none !important;
      padding: 1.387em !important;
      border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
      margin-left: 0; }
      #payment .payment_methods li img {
        float: right;
        border: 0;
        padding: 0; }
      #payment .payment_methods li:last-child {
        padding-bottom: 0;
        border-bottom: 0; }
      #payment .payment_methods li label {
        width: 92%;
        padding-top: 0 !important;
        margin-left: .618em;
        font-weight: bold; }
      #payment .payment_methods li p {
        margin-bottom: 0; }
      #payment .payment_methods li .payment_box {
        padding: 1.387em;
        margin: 1.387em -1.387em -1.387em -1.387em;
        background: rgba(0, 0, 0, 0.035);
        border-top: 1px dotted rgba(0, 0, 0, 0.2); }
        #payment .payment_methods li .payment_box fieldset {
          border: 0;
          margin: 0;
          padding: 1em 0 0 0;
          font-size: .857em; }
          #payment .payment_methods li .payment_box fieldset label {
            width: auto;
            margin-left: 0; }
          #payment .payment_methods li .payment_box fieldset .form-row {
            margin-bottom: 1em; }
          #payment .payment_methods li .payment_box fieldset .form-row-first select {
            width: 48%; }
            #payment .payment_methods li .payment_box fieldset .form-row-first select:nth-child(2n) {
              float: right; }
          #payment .payment_methods li .payment_box fieldset #cvv {
            width: 22% !important; }
          #payment .payment_methods li .payment_box fieldset .help {
            width: 75%;
            float: right; }
  #payment .terms {
    width: 100%;
    clear: both;
    float: none;
    margin-bottom: 0;
    margin-top: 1em; }
    #payment .terms label {
      display: inline; }
    #payment .terms input {
      display: inline-block;
      width: auto;
      float: left;
      margin: .327em .53em 0 0; }
  #payment .place-order {
    padding: 1.387em;
    margin-bottom: 0;
    float: none;
    width: 100%; }
    #payment .place-order .button {
      font-size: 1.387em;
      width: 100%; }

/**
 * My Account
 */
#customer_login .col-1 {
  padding-bottom: 1.618em;
  margin-bottom: 1.618em;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2); }

ul.order_details {
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  margin-left: 0; }
  ul.order_details:after {
    content: "";
    display: table;
    clear: both; }
  ul.order_details li {
    float: left;
    padding: 1em 1.618em;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    font-size: .8em;
    text-transform: uppercase; }
    ul.order_details li strong {
      display: block;
      font-size: 1.387em;
      text-transform: none;
      color: #424a4c; }

ul.digital-downloads {
  list-style: none;
  margin-left: 0; }
  ul.digital-downloads li {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2); }
    ul.digital-downloads li:before {
      font-family: "FontAwesome";
      content: "\f019";
      margin-right: .53em; }

.my_account_orders .button {
  padding: .53em 1em;
  font-size: .857em; }

/**
 * General WooCommerce components
 */
.form-row label {
  display: block; }
.form-row input,
.form-row textarea {
  width: 100%; }
.form-row .button {
  width: auto; }

.form-row-last {
  margin-right: 0 !important; }

.required {
  border: 0;
  color: red; }

.star-rating {
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1em;
  font-size: 1em;
  width: 4.64em;
  font-family: "fontawesome";
  font-weight: 400; }
  .star-rating:before {
    content: "\f005\f005\f005\f005\f005";
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    color: rgba(0, 0, 0, 0.2); }
  .star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.618em; }
  .star-rating span:before {
    content: "\f005\f005\f005\f005\f005";
    top: 0;
    position: absolute;
    left: 0;
    color: #a46497; }

p.stars {
  position: relative;
  height: 1em;
  font-size: 1em; }
  p.stars a {
    display: inline-block;
    font-weight: 700;
    margin-right: 1em;
    text-indent: -9999px;
    position: relative;
    color: #424a4c; }
    p.stars a:hover {
      color: #a46497; }
    p.stars a:last-child {
      border-right: 0; }
    p.stars a.star-1, p.stars a.star-2, p.stars a.star-3, p.stars a.star-4, p.stars a.star-5 {
      border-right: 1px solid rgba(0, 0, 0, 0.2); }
      p.stars a.star-1:after, p.stars a.star-2:after, p.stars a.star-3:after, p.stars a.star-4:after, p.stars a.star-5:after {
        font-family: "FontAwesome";
        text-indent: 0;
        position: absolute;
        top: 0;
        left: 0;
        padding-right: 1em; }
    p.stars a.star-1 {
      width: 2em; }
      p.stars a.star-1:after {
        content: "\f006"; }
      p.stars a.star-1:hover:after, p.stars a.star-1.active:after {
        content: "\f005"; }
    p.stars a.star-2 {
      width: 3em; }
      p.stars a.star-2:after {
        content: "\f006\f006"; }
      p.stars a.star-2:hover:after, p.stars a.star-2.active:after {
        content: "\f005\f005"; }
    p.stars a.star-3 {
      width: 4em; }
      p.stars a.star-3:after {
        content: "\f006\f006\f006"; }
      p.stars a.star-3:hover:after, p.stars a.star-3.active:after {
        content: "\f005\f005\f005"; }
    p.stars a.star-4 {
      width: 5em; }
      p.stars a.star-4:after {
        content: "\f006\f006\f006\f006"; }
      p.stars a.star-4:hover:after, p.stars a.star-4.active:after {
        content: "\f005\f005\f005\f005"; }
    p.stars a.star-5 {
      width: 6em;
      border: 0; }
      p.stars a.star-5:after {
        content: "\f006\f006\f006\f006\f006"; }
      p.stars a.star-5:hover:after, p.stars a.star-5.active:after {
        content: "\f005\f005\f005\f005\f005"; }

.onsale {
  display: block;
  width: 10em;
  color: #fff;
  background-color: #424a4c;
  padding: 1em 0;
  text-align: center;
  position: absolute;
  top: 0;
  left: -3.2em;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  font-weight: 700; }

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  display: none; }
.quantity .qty {
  max-width: 3.631em;
  text-align: center;
  -moz-appearance: textfield; }
.quantity .plus,
.quantity .minus {
  font-weight: 700;
  color: #a46497;
  background-color: transparent;
  box-shadow: none; }
  .quantity .plus:hover,
  .quantity .minus:hover {
    background-color: transparent; }

.woocommerce-result-count,
.woocommerce-ordering {
  font-size: .857em;
  margin-bottom: 2.618em; }

.woocommerce-result-count {
  float: left;
  position: relative;
  padding-bottom: 1em;
  clear: both; }

.woocommerce-ordering {
  float: right; }

.woocommerce-tabs {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-width: 1px 0;
  padding: 1em 0; }
  .woocommerce-tabs ul.tabs {
    list-style: none;
    margin-left: 0;
    text-align: center; }
    .woocommerce-tabs ul.tabs li {
      display: inline-block;
      margin-right: 1em;
      position: relative; }
      .woocommerce-tabs ul.tabs li.active a {
        color: #424a4c; }
      .woocommerce-tabs ul.tabs li.active:after {
        content: "\f107";
        font-family: "FontAwesome";
        position: absolute;
        top: 100%;
        left: 50%;
        height: 1em;
        width: 1em;
        line-height: 1;
        margin-left: -.5em; }

.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews {
  padding: 1em 1.618em;
  margin-bottom: 2.618em;
  background-color: #17ba6f;
  margin-left: 0;
  color: #fff;
  clear: both;
  border-left: 0.618em solid rgba(0, 0, 0, 0.15); }
  .woocommerce-message:after,
  .woocommerce-info:after,
  .woocommerce-error:after,
  .woocommerce-noreviews:after {
    content: "";
    display: table;
    clear: both; }
  .woocommerce-message a,
  .woocommerce-info a,
  .woocommerce-error a,
  .woocommerce-noreviews a {
    color: #fff; }
    .woocommerce-message a:hover,
    .woocommerce-info a:hover,
    .woocommerce-error a:hover,
    .woocommerce-noreviews a:hover {
      color: #fff;
      opacity: 0.7; }
    .woocommerce-message a.button:hover,
    .woocommerce-info a.button:hover,
    .woocommerce-error a.button:hover,
    .woocommerce-noreviews a.button:hover {
      opacity: 1; }
  .woocommerce-message .button,
  .woocommerce-info .button,
  .woocommerce-error .button,
  .woocommerce-noreviews .button {
    float: right; }

.woocommerce-error {
  list-style: none; }

.woocommerce-info,
.woocommerce-noreviews {
  background-color: #3d9cd2; }

.woocommerce-error {
  background-color: #e2401c; }

dl.variation {
  font-size: .857em; }
  dl.variation dd {
    margin: 0 0 1em; }

/**
 * Homepage
 */
.storefront-product-section {
  border-bottom: 3px solid rgba(0, 0, 0, 0.025);
  margin-bottom: 4.236em; }
  .storefront-product-section .section-title {
    text-align: center; }
  .storefront-product-section:last-child {
    border-bottom: 0; }

@media screen and (min-width: 768px) {
  /**
   * Header Elements
   */
  .site-header-cart .cart-contents {
    padding: 0 1em 2.244em;
    background-color: transparent; }
    .site-header-cart .cart-contents:after {
      top: 0; }
  .site-header-cart .widget_shopping_cart {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    display: none;
    z-index: 999999;
    font-size: .857em; }
    .site-header-cart .widget_shopping_cart h2.widgettitle {
      display: none; }
  .site-header-cart:hover .widget_shopping_cart {
    display: block; }

  /**
   * Reset mobile product styles
   */
  ul.products li.product {
    clear: none;
    width: 100%;
    float: left;
    font-size: .857em; }
    ul.products li.product:nth-child(2n) {
      float: left; }
    ul.products li.product.first {
      clear: both !important; }
    ul.products li.product.last {
      margin-right: 0 !important; }

  /**
   * Full width content area product layout
   */
  .page-template-template-fullwidth-php .site-main .columns-2 ul.products li.product,
  .page-template-template-homepage-php .site-main .columns-2 ul.products li.product {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 48.5%;
    clear: none;
    float: left;
    margin-left: 0;
    margin-right: 3%; }
  .page-template-template-fullwidth-php .site-main .columns-3 ul.products li.product,
  .page-template-template-homepage-php .site-main .columns-3 ul.products li.product {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 31.33333%;
    clear: none;
    float: left;
    margin-left: 0;
    margin-right: 3%; }
  .page-template-template-fullwidth-php .site-main .columns-4 ul.products li.product,
  .page-template-template-homepage-php .site-main .columns-4 ul.products li.product {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 22.75%;
    clear: none;
    float: left;
    margin-left: 0;
    margin-right: 3%; }

  /**
   * Main content area (adjacent to sidebar) product layout
   */
  .site-main .columns-3 ul.products li.product {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 30.63973%;
    clear: none;
    float: left;
    margin-left: 0;
    margin-right: 3%;
    margin-right: 4.0404%; }
  .site-main ul.products li.product {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 30.63973%;
    clear: none;
    float: left;
    margin-left: 0;
    margin-right: 3%;
    margin-right: 4.0404%; }

  /**
   * Single product page
   */
  .single-product div.product .images {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 42.19978%;
    clear: none;
    float: left;
    margin-left: 0;
    margin-right: 3%;
    margin-right: 4.0404%;
    margin-bottom: 3.631em; }
    .single-product div.product .images .thumbnails a.zoom {
      display: block;
      margin-bottom: 1em;
      display: block;
      float: left;
      margin-left: 0;
      margin-right: -100%;
      width: 17.81915%;
      clear: none;
      float: left;
      margin-left: 0;
      margin-right: 3%;
      margin-right: 9.57447%; }
      .single-product div.product .images .thumbnails a.zoom.last {
        margin-right: 0; }
  .single-product div.product .summary {
    display: block;
    float: left;
    margin-left: 46.24018%;
    margin-right: -100%;
    width: 53.75982%;
    clear: none;
    float: left;
    margin-left: 0;
    margin-right: 3%;
    margin-right: 0;
    margin-bottom: 3.631em; }
  .single-product div.product .woocommerce-tabs {
    clear: both; }

  /**
   * Cart
   */
  table.cart .product-thumbnail {
    display: table-cell; }
    table.cart .product-thumbnail img {
      max-width: 3.631em;
      height: auto;
      border: .327em solid #fff; }
  table.cart .product-quantity .plus,
  table.cart .product-quantity .minus {
    display: inline-block; }
  table.cart .quantity .qty,
  table.cart .quantity .plus,
  table.cart .quantity .minus {
    padding: .618em; }
  table.cart td.actions {
    text-align: right; }
    table.cart td.actions label {
      display: none; }
    table.cart td.actions .coupon {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none;
      display: inline-block;
      float: left; }
    table.cart td.actions input {
      display: inline-block;
      width: auto;
      margin: 0; }

  .cart-collaterals:after {
    content: "";
    display: table;
    clear: both; }
  .cart-collaterals .cross-sells {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 42.19978%;
    clear: none;
    float: left;
    margin-left: 0;
    margin-right: 3%;
    margin-right: 4.0404%; }
    .cart-collaterals .cross-sells ul.products li.product {
      display: block;
      float: left;
      margin-left: 0;
      margin-right: -100%;
      width: 45.21277%;
      clear: none;
      float: left;
      margin-left: 0;
      margin-right: 3%;
      margin-right: 9.57447%; }
  .cart-collaterals .cart_totals,
  .cart-collaterals .shipping_calculator {
    display: block;
    float: left;
    margin-left: 46.24018%;
    margin-right: -100%;
    width: 53.75982%;
    clear: none;
    float: right;
    margin-right: 0;
    margin-left: 3%;
    margin: 0;
    clear: right; }
  .cart-collaterals .shipping_calculator {
    clear: right; }

  .page-template-template-fullwidth-php .cart-collaterals .cross-sells {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 48.5%;
    clear: none;
    float: right;
    margin-right: 0;
    margin-left: 3%; }
    .page-template-template-fullwidth-php .cart-collaterals .cross-sells ul.products li.product {
      display: block;
      float: left;
      margin-left: 0;
      margin-right: -100%;
      width: 46.90722%;
      clear: none;
      float: left;
      margin-left: 0;
      margin-right: 3%;
      margin-right: 6.18557%; }
  .page-template-template-fullwidth-php .cart-collaterals .cart_totals,
  .page-template-template-fullwidth-php .cart-collaterals .shipping_calculator {
    display: block;
    float: left;
    margin-left: 51.5%;
    margin-right: -100%;
    width: 48.5%;
    clear: none;
    float: right;
    margin-right: 0;
    margin-left: 3%;
    margin-right: 0; }

  /**
   * Checkout
   */
  #customer_details {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 53.75982%;
    clear: none;
    float: left;
    margin-left: 0;
    margin-right: 3%;
    margin-right: 4.0404%; }
    #customer_details .form-row-first {
      display: block;
      float: left;
      margin-left: 0;
      margin-right: -100%;
      width: 35.49061%;
      clear: none;
      float: left;
      margin-left: 0;
      margin-right: 3%;
      margin-right: 7.51566%; }
    #customer_details .form-row-last {
      display: block;
      float: left;
      margin-left: 43.00626%;
      margin-right: -100%;
      width: 56.99374%;
      clear: none;
      float: left;
      margin-left: 0;
      margin-right: 3%; }
    #customer_details .col-1,
    #customer_details .col-2 {
      margin-bottom: 1.618em; }

  #order_review_heading,
  #order_review {
    display: block;
    float: left;
    margin-left: 57.80022%;
    margin-right: -100%;
    width: 42.19978%;
    clear: none;
    float: left;
    margin-left: 0;
    margin-right: 3%;
    margin-right: 0;
    border: 3px solid #a46497; }

  #order_review_heading {
    margin-bottom: 0;
    padding-bottom: .618em;
    padding-top: .618em;
    border-width: 3px 3px 0 3px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 1.5%;
    padding-right: 1.5%; }

  #order_review {
    border-width: 0 3px 3px 3px; }

  .page-template-template-fullwidth-php #customer_details {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 48.5%;
    clear: none;
    float: left;
    margin-left: 0;
    margin-right: 3%; }
    .page-template-template-fullwidth-php #customer_details .form-row-first {
      display: block;
      float: left;
      margin-left: 0;
      margin-right: -100%;
      width: 46.90722%;
      clear: none;
      float: left;
      margin-left: 0;
      margin-right: 3%;
      margin-right: 6.18557%; }
    .page-template-template-fullwidth-php #customer_details .form-row-last {
      display: block;
      float: left;
      margin-left: 53.09278%;
      margin-right: -100%;
      width: 46.90722%;
      clear: none;
      float: left;
      margin-left: 0;
      margin-right: 3%; }
  .page-template-template-fullwidth-php #order_review_heading,
  .page-template-template-fullwidth-php #order_review {
    display: block;
    float: left;
    margin-left: 60.08333%;
    margin-right: -100%;
    width: 39.91667%;
    clear: none;
    float: right;
    margin-right: 0;
    margin-left: 3%;
    margin-right: 0; }
  .page-template-template-fullwidth-php #order_review {
    font-size: .857em; }

  #order_review .shop_table {
    margin-bottom: 2.618em; }

  /**
   * General WooCommerce Components
   */
  .form-row-first {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 42.19978%;
    clear: none;
    float: left;
    margin-left: 0;
    margin-right: 3%;
    margin-right: 4.0404%;
    clear: both; }

  .form-row-last {
    display: block;
    float: left;
    margin-left: 46.24018%;
    margin-right: -100%;
    width: 53.75982%;
    clear: none;
    float: left;
    margin-left: 0;
    margin-right: 3%; }

  .page-template-template-fullwidth-php .form-row-first {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 48.5%;
    clear: none;
    float: left;
    margin-left: 0;
    margin-right: 3%; }
  .page-template-template-fullwidth-php .form-row-last {
    display: block;
    float: left;
    margin-left: 51.5%;
    margin-right: -100%;
    width: 48.5%;
    clear: none;
    float: left;
    margin-left: 0;
    margin-right: 3%; }

  .woocommerce-tabs {
    margin-bottom: 2.618em;
    padding-top: 2.618em;
    padding-bottom: 2.618em; }
    .woocommerce-tabs:after {
      content: "";
      display: table;
      clear: both; }
    .woocommerce-tabs ul.tabs {
      display: block;
      float: left;
      margin-left: 0;
      margin-right: -100%;
      width: 30.63973%;
      clear: none;
      float: left;
      margin-left: 0;
      margin-right: 3%;
      margin-right: 4.0404%;
      text-align: left; }
      .woocommerce-tabs ul.tabs li {
        display: block;
        margin: 0;
        border-bottom: 1px dotted rgba(0, 0, 0, 0.2); }
        .woocommerce-tabs ul.tabs li a {
          padding: 1em 0;
          display: block; }
        .woocommerce-tabs ul.tabs li.active:after {
          margin: 0;
          right: 0;
          left: auto;
          top: 50%;
          content: "\f105";
          margin-top: -.5em; }
    .woocommerce-tabs .panel {
      display: block;
      float: left;
      margin-left: 34.68013%;
      margin-right: -100%;
      width: 65.31987%;
      clear: none;
      float: left;
      margin-left: 0;
      margin-right: 3%;
      margin-right: 0;
      margin-top: 0; } }
