/**
 * Strictly Layout Styles
 */

@include susy-media($desktop) {
	table.shop_table_responsive {
		tbody {
			tr {
				td,
				th {
					text-align: left;
				}
			}
		}
	}

	.site-header {
		padding-top: 2.618em;
		padding-bottom: 0;

		.site-branding,
		.site-logo-anchor,
		.site-logo-link,
		.custom-logo-link {
			display: block;
			@include span(3 of 12);
			clear: both;
			margin-bottom: 2.618em;

			img {
				height: auto;
				max-width: 100%;
				max-height: none;
			}
		}
	}

	.woocommerce-active {
		.site-header {
			.secondary-navigation {
				@include span(6 of 12);
			}

			.site-search {
				@include span(last 3 of 12);
				clear: none;
			}

			.main-navigation {
				@include span(9 of 12);
				clear: both;
			}

			.site-header-cart {
				@include span(last 3 of 12);
				margin-bottom: 0;
			}
		}
	}

	.site-branding {
		.site-description {
			margin-bottom: 0;
			display: block;
		}
	}

	.site-branding,
	.site-search,
	.site-header-cart,
	.site-logo-anchor,
	.site-logo-link,
	.custom-logo-link {
		margin-bottom: 2.244em;
	}

	.site-header {
		.subscribe-and-connect-connect {
			float: right;
			margin-bottom: 1em;

			.icons {
				list-style: none;
				margin: 0;

				a {
					font-size: 1em !important;
				}

				li {
					margin: 0 0 0 .53em !important;
					display: inline-block;
				}
			}
		}
	}

	.col-full {
		@include clearfix;
		@include container($container-width);
		padding: 0 2.618em;
		box-sizing: content-box;
	}

	.site-content {
		@include clearfix;
	}

	.content-area {
		@include span(9 of 12);
	}

	.widget-area {
		@include span(last 3 of 12);
	}

	.right-sidebar {
		.content-area {
			@include span(9 of 12);
		}

		.widget-area {
			@include span(last 3 of 12);
		}
	}

	.left-sidebar {
		.content-area {
			@include span(last 9 of 12);
		}

		.widget-area {
			@include span(3 of 12);
		}
	}

	.storefront-full-width-content {
		.content-area {
			@include span(full);
		}
	}

	.content-area,
	.widget-area {
		margin-bottom: 2.618em;
	}

	/**
	 * Full width & homepage template
	 */
	.page-template-template-fullwidth-php,
	.page-template-template-homepage-php {
		.content-area {
			@include span(full);
		}
	}

	/**
	 * Footer widgets
	 */
	.footer-widgets {
		@include clearfix;
		padding-top: 4.236em;
		border-bottom: 3px solid rgba(0,0,0,0.05);

		&.col-2 {
			.block {
				@include span(6 of 12);

				&.footer-widget-2 {
					@include last;
				}
			}
		}

		&.col-3 {
			.block {
				@include span(4 of 12);

				&.footer-widget-3 {
					@include last;
				}
			}
		}

		&.col-4 {
			.block {
				@include span(3 of 12);

				&.footer-widget-4 {
					@include last;
				}
			}
		}
	}
}

@include susy-media (max-width $container-width) {
	.col-full {
		margin-left: 2.618em;
		margin-right: 2.618em;
		padding: 0;
	}
}

@include susy-media (max-width $handheld) {
	.col-full {
		margin-left: 1.387em;
		margin-right: 1.387em;
		padding: 0;
	}
}